.columns > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns img {
  width: 100%;
  border-radius: 4px;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h5 {
  margin-top: 0;
}

.columns p {
  font-size: var(--body-font-size-m);
  line-height: 1.5;
}

.columns a.button:any-link {
  margin-top: 8px;
}

.columns.columns-3-cols > div > div {
  text-align: center;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 48px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.columns-3-cols > div {
    align-items: flex-start;
  }
}
